body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    max-width: 100vw;
}



:root{
    --background:#000;

    --color-letra:#fff;
    --color-letra-secundario:#fb0;

    --border: 1px solid #000;
}

/* -------------------------------------------------- Title*/

#header-title{
    background-color: var(--background);
    
    max-width: 100vw;

    color: var(--color-letra);

    margin: 0%;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
}

#header-title span{
    color: var(--color-letra-secundario);
}

/* --------------------------------------------------Container de Cajas */

#header-container{
    /* background-color: lightskyblue; */

    max-width: 100vw;

    padding: 2rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    flex-wrap: wrap;
}

/* --------------------------------------------------Container Caja */



.header-container-caja{
    background-color: var(--background);
    color: var(--color-letra-secundario);
    border: var(--border);

    width: 30rem;
    height: 30rem;

}



/* --------------------------------------------------Caja img */
.caja-img{
    background-color: var(--color-letra);

    font-size: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50%;
}



/* --------------------------------------------------Caja Info */

.caja-info{
    color: var(--color-letra);

    /* background-color: blueviolet; */
    width: 100%;
    height: 50%;

    padding: 1rem;
}

.caja-info h4,
.caja-info h3,
.caja-info p{
    margin: 0%;
}


.caja-info h3{
    font-size: 2rem;
}

.caja-info h4{
    /* background-color: cyan; */
    font-size: 1.5rem;

    padding: 1rem 0;
}


.caja-info p{
    /* background-color: cornflowerblue; */
    font-size: 1rem;
}


/* -------------------------------------------------- MediaQueri*/

@media screen and (max-width:1600px) {
    html{
        font-size: 90%;
    }
}

@media screen and (max-width:1400px) {
    html{
        font-size: 85%;
    }
}



@media screen and (max-width:900px) {
    .header-container-caja{    
        width: 100vw;
        height: 35rem;
    
    }
}


